body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-color: #eaddc6;

}
body {
  font-family: Arial, Helvetica, sans-serif;
}


.topnav {
  overflow: hidden;
  background-color: #DCB697;
  padding: 0;
  margin-bottom: 0;
}

.topnav a {
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  border-left: 0.2em solid;
  float: right;
}

.dropdown {
  float: left;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  border-style: none;
  width: 40%;
  padding: 0;
  margin-top: -2px;
}
.checkbox {
  padding: 12px;
  margin-top: 7px;
  background-color: #f8f7f6e3;
  width: 100%;
  text-align: left;
}
input {
  padding: 1em;
}

label {
  padding-right: 0.5em;
  color: black;
}

.jumbotron {
  background-image: url("../images/allergybackground.png");
  display: block;
  object-fit: scale-down;
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  margin-right: 0;
  background-size: cover;
  color: black;
}

h1 {
  text-align: center;
  width: auto;
  margin-bottom: 0;
  margin-top:0;
  padding: 0;
  font-size: 4em;
  background-color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: black;
  /*height: 100px;
  font-variant: small-caps;*/

}

.dispay-4 {
  margin-right: 0;
  text-align: center;
  background-color: white;
  color: black;
}

.diet-boxes {
  margin-left: 2 em;
  padding-left: 2 em;
}
.intolerance-boxes {
  margin-left: 2em;
  padding-left: 1em;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  background-color:#7059547d ;
  opacity: 1;
  margin-bottom: 5px;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  background-color: #7059547d;
  opacity: 1;
  padding: 2px 5em 2px 5em;
  margin-top:5px;
  margin-bottom:15px;
}

a {
  color: black;
}
p {
  margin-inline-end: 1em;
}
img {
  padding: 8px;
}
.searchbox {
  color: #eaddc6;
  opacity: 1;
  border: solid;
}

/*.form-control{
  width: 50%;
  float: left;

}*/
.button {
    background:#f8f8f8;
    background: solid;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    font: 400 20px system-ui;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-image: initial;
}



.searchpart{
  width: 100%;
  display: inline-flex;
  height: 2em;
  float:left;
  margin:0;
}
.form-control{
  height: 2em;
  width: 68%;
}

.restrictions{
  text-align: center;
}

.fa{
  padding: 1px .5em 1px .5em ;
}

button{
  border: 1px solid rgba(0,0,0,.15);
  outline: inset;
  background: #f8f8f8;
  padding: 3px;
  }

  .recipe-source-save{
    margin-left: 25px;
  }

.recipe-info{
  margin-top: 4px;
  margin-left: 24px;
}

.favorites-star{
  margin: 0;

}
.prep{
  margin: 11px;

}