body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eaddc6;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color:#24213a;
  padding: 0;
  margin:0;
}

.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container{
  border-style: none;
  border-color:#24213a;
  width: 40%;
  padding: 0;

}
.checkbox{
  padding: 1em;
  background-color: #ffffffa8;
  width: 100%;
  text-align: left;
}
input{
  padding: 1em;
}

label{
  padding-right: .75em;
  color: black;
}

.jumbotron{
  background-image: url("./images/foodD.png");
  display: block;
  object-fit: scale-down ;
  width: 100%;
	height: auto;
	background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin:0;
  margin-right:0;
  background-size: cover;
  opacity: .65;
  color: black;
}

h1{
  text-align: center;
  width: auto;
  margin-bottom: 0;
  padding: 0;
  font-size: 4em;
  background-color: white;
  color: black;
}
button{
  font: black;
}
.dispay-4{
  margin-right:0;
  text-align: center;
  background-color: white;
  color:black;
}

.diet-boxes{

  margin-left: 1em;
  padding-left: 1em;
  /*background-color:#2b0c064a;*/

  
}
.intolerance-boxes{
  margin-left: 2em;
  padding-left: 1em;
  background-color:#2b0c064a;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5em;
  /*background-color:#2b0c064a;*/
}

.button{
  margin-left: 13em;
}
